{% extends 'MainBundle::main.html.twig' %}

{% block title 'Comments' %}
    {% block header 'Comments' %}

        {% block para %}
            Comments:
        {% endblock %}

        {% block content %}

            <center><a href="{{ url("public_space_full_size", {"id" : image.id}) }}"><img class="sf-reset block2" width="50%" height="50%" src= "{{ image.thumbnail }}" alt="Symfony"/></a></center>

                <form id="a_form" action="{{ path('public_space_comment', {"id" : image.id}) }}" method="post" {{ form_enctype(form) }}>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    Username: <br> {{ form_widget(form.Author) }} <br><br>
                    Contents: <br> {{ form_widget(form.Content) }} <br>
                    <br> {{ form_widget(form.Comment) }} <br>
                    {{ form_end(form) }}
                </form>
                <br><br>

                <div id="comments_list">
                    {% for comment in comments %}

                        {% include 'MainBundle:Default:comment.html.twig' with { 'comment' : comment } %}

                    {% endfor %}
                </div>
     
            <script type="text/javascript">
                $(document).ready(function () {

                    //listen for the form beeing submitted
                    $("#a_form").submit(function () {
                        //get the url for the form

                        $.ajax({
                            type: $("#a_form").attr("method"),
                            url: $("#a_form").attr("action"),
                            data: {
                                id:{{ image.id }},
                                        author: $("#comment_Author").val(),
                                content: $("#comment_Content").val()
                            }
                        }).done(function (response) {
                            var date = response.date;
                            var author = response.author;
                            var content = response.content;
                            var text = '<div class="sf-reset comment_title"><b> ' + author + '</b> ' + date + '</div><div class="sf-reset comment">' + content + '</div>' + $("#comments_list").html();
                            $("#comments_list").html(text);
                        });
                        return false;
                    });
                });

                function showComment() {
                    //var new_value= +$("#comments_list").text();
                    //text(new_value);

                }
                showComment();
            </script>


        {% endblock %}

